<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cherry.framework.dao.UserMapper">
    <sql id="Base_Table">
      t_user
    </sql>

    <sql id="Base_Column">
      userId, userName, password, phone
    </sql>

    <!-- 新增 -->
    <insert id="save" parameterType="com.cherry.framework.model.UserEntity">
      INSERT INTO
        <include refid="Base_Table"></include>
      <trim prefix=" ( " suffix=" ) " suffixOverrides=",">
          userName, password,
          <if test=" phone != null and phone != '' ">
            phone,
          </if>
      </trim>
      <trim prefix=" VALUES( " suffix=" ) " suffixOverrides=",">
        #{userName}, #{password},
        <if test=" phone != null and phone != '' ">
          #{phone},
        </if>
      </trim>
    </insert>

    <!-- 查询所有 -->
    <select id="findAllUserList" resultType="com.cherry.framework.model.UserEntity">
      SELECT
        <include refid="Base_Column"/>
      FROM
        <include refid="Base_Table"/>
    </select>
</mapper>